body, html, .container {
  padding: 0;
  margin: 0;
  border: 0;
  background: #fff;
  font-weight: 400;
  font-size: 100%;
  line-height: 1.5em;
  font-family: "Open Sans", "open-sans", sans-serif;
  -webkit-font-smoothing: antialiased; }

#main-nav-wrapper {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 30;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px; }
  #main-nav-wrapper .inside {
    padding: 0 4em; }
    #main-nav-wrapper .inside:before, #main-nav-wrapper .inside:after {
      content: " ";
      display: table; }
    #main-nav-wrapper .inside:after {
      clear: both; }
    #main-nav-wrapper .inside nav {
      padding-top: 50px;
      min-width: 900px; }
      #main-nav-wrapper .inside nav:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0; }
      #main-nav-wrapper .inside nav .main-logo-wrapper {
        float: left;
        display: block;
        margin-right: 3.125%;
        width: 14.0625%; }
        #main-nav-wrapper .inside nav .main-logo-wrapper a {
          float: left;
          display: inline-block;
          vertical-align: middle;
          height: 33px;
          width: 100px;
          background-repeat: no-repeat;
          text-indent: -9999px;
          background-image: url(/images/global-s37779d1c20.png);
          background-position: 0 -539.5px;
          -moz-background-size: 141px auto;
          -o-background-size: 141px auto;
          -webkit-background-size: 141px auto;
          background-size: 141px auto; }
      #main-nav-wrapper .inside nav ul {
        float: left;
        display: block;
        width: 82.8125%;
        text-align: right;
        margin: 3px 0 0 0;
        list-style: none;
        padding: 0; }
        #main-nav-wrapper .inside nav ul li {
          display: inline-block;
          vertical-align: middle;
          height: 20px;
          overflow: hidden;
          white-space: nowrap; }
          #main-nav-wrapper .inside nav ul li.signup {
            height: 40px; }
            #main-nav-wrapper .inside nav ul li.signup a {
              color: #ff3366;
              border: solid 1px #ff3366;
              -moz-border-radius: 3px;
              -webkit-border-radius: 3px;
              border-radius: 3px;
              padding: 12px 17px;
              margin-left: 15px; }
              #main-nav-wrapper .inside nav ul li.signup a:hover {
                color: #fff;
                background: #f42156; }
          #main-nav-wrapper .inside nav ul li a {
            text-decoration: none;
            padding: 3px 15px;
            font-size: 13px;
            color: white;
            font-family: "brandon-grotesque", sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 1em;
            display: block;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            letter-spacing: 0.05em;
            cursor: pointer; }
            #main-nav-wrapper .inside nav ul li a:hover {
              color: #ff3366; }

#big-video-wrap {
  visibility: inherit;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0; }

#ent-banner-wrapper .hero {
  display: block;
  width: 100%;
  font-size: 16px;
  text-align: center;
  overflow: hidden;
  position: relative; }
  #ent-banner-wrapper .hero:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 3;
    top: 0;
    left: 0;
    background: rgba(25, 29, 34, 0.75); }
  #ent-banner-wrapper .hero .hero-container {
    padding-top: 9.0625em;
    padding-bottom: 3.4375em;
    text-align: center;
    max-width: 82.5em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 5; }
    #ent-banner-wrapper .hero .hero-container h1 {
      color: #FFF;
      font: 400 2.875em/1.30435 "brandon-grotesque", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.075em;
      margin-bottom: 0.375em; }
    #ent-banner-wrapper .hero .hero-container h2 {
      color: #FFF;
      font: italic 300 1.5em "Open Sans", "open-sans", sans-serif;
      margin-bottom: 1.5em;
      letter-spacing: 0.005em; }
    #ent-banner-wrapper .hero .hero-container p {
      font-size: 18px;
      line-height: 1.8em;
      color: #747c83; }
      #ent-banner-wrapper .hero .hero-container p a {
        font-size: 0.77778em;
        padding: 1.35714em 1.92857em 1.21429em;
        letter-spacing: 0.1em;
        border-radius: 0.21429em;
        display: inline-block;
        background: #ff3366;
        border: 0;
        color: white;
        text-decoration: none;
        line-height: 1em;
        font-family: "brandon-grotesque", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        -moz-transition: background 0.3s;
        -o-transition: background 0.3s;
        -webkit-transition: background 0.3s;
        transition: background 0.3s; }
        #ent-banner-wrapper .hero .hero-container p a:hover {
          background: #f42156; }
    #ent-banner-wrapper .hero .hero-container .hero-play {
      background-image: url(/images/global-s37779d1c20.png);
      background-position: 0 -957px;
      -moz-background-size: 141px auto;
      -o-background-size: 141px auto;
      -webkit-background-size: 141px auto;
      background-size: 141px auto;
      display: inline-block;
      vertical-align: middle;
      height: 50px;
      width: 50px;
      background-repeat: no-repeat;
      margin-top: 3.125em;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  #ent-banner-wrapper .hero .hero-scroll {
    display: inline-block;
    vertical-align: middle;
    height: 7px;
    width: 12px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 15;
    bottom: 2.625em;
    left: 50%;
    margin-left: -0.375em;
    background-image: url(/images/home-s58ac0b533f.png);
    background-position: 0 -1505.5px;
    -moz-background-size: 210px auto;
    -o-background-size: 210px auto;
    -webkit-background-size: 210px auto;
    background-size: 210px auto; }
    #ent-banner-wrapper .hero .hero-scroll:after {
      content: "";
      padding: 1.25em;
      display: block;
      left: -14px;
      position: absolute;
      top: -15px; }
#ent-banner-wrapper .hero-modal {
  position: fixed;
  width: 100%;
  height: 99%;
  display: none;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0; }
  #ent-banner-wrapper .hero-modal.is-open {
    display: block;
    z-index: 100;
    visibility: inherit;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px); }
    #ent-banner-wrapper .hero-modal.is-open .hero-modal-close {
      opacity: 1;
      visibility: visible;
      z-index: 120; }
      #ent-banner-wrapper .hero-modal.is-open .hero-modal-close:after {
        z-index: 100; }
  #ent-banner-wrapper .hero-modal .hero-modal-close {
    display: inline-block;
    vertical-align: middle;
    height: 11px;
    width: 11px;
    background-repeat: no-repeat;
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    background-image: url(/images/home-s58ac0b533f.png);
    background-position: 0 -66px;
    -moz-background-size: 210px auto;
    -o-background-size: 210px auto;
    -webkit-background-size: 210px auto;
    background-size: 210px auto; }
    #ent-banner-wrapper .hero-modal .hero-modal-close:hover:after {
      background: rgba(255, 255, 255, 0.2); }
    #ent-banner-wrapper .hero-modal .hero-modal-close:after {
      content: "";
      position: absolute;
      width: 2.625em;
      height: 2.625em;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 6.25em;
      transition: all 0.2s ease; }
  #ent-banner-wrapper .hero-modal video::-webkit-media-controls-fullscreen-button {
    display: none; }
#ent-banner-wrapper .trusted-by {
  padding: 0;
  font-size: 16px;
  position: relative;
  z-index: 10;
  background: #F9F9FA; }
  #ent-banner-wrapper .trusted-by .inside {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    clear: both; }
    #ent-banner-wrapper .trusted-by .inside ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      width: 100%;
      height: 5em;
      max-width: 64.875em;
      margin: 0 auto;
      list-style: none; }
      #ent-banner-wrapper .trusted-by .inside ul li {
        text-align: center;
        padding: 0; }
        #ent-banner-wrapper .trusted-by .inside ul li span {
          text-indent: -624.9375em;
          text-indent: 562.5em;
          position: relative;
          vertical-align: bottom;
          overflow: hidden;
          text-transform: capitalize;
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
          opacity: 0.7; }
      #ent-banner-wrapper .trusted-by .inside ul .uber span {
        background-image: url(/images/home-s58ac0b533f.png);
        background-position: 0 -2950px;
        -moz-background-size: 210px auto;
        -o-background-size: 210px auto;
        -webkit-background-size: 210px auto;
        background-size: 210px auto;
        display: inline-block;
        vertical-align: middle;
        height: 15px;
        width: 74px;
        background-repeat: no-repeat; }
      #ent-banner-wrapper .trusted-by .inside ul .shopify span {
        background-image: url(/images/home-s58ac0b533f.png);
        background-position: 0 -1522.5px;
        -moz-background-size: 210px auto;
        -o-background-size: 210px auto;
        -webkit-background-size: 210px auto;
        background-size: 210px auto;
        display: inline-block;
        vertical-align: middle;
        height: 30px;
        width: 103px;
        background-repeat: no-repeat; }
      #ent-banner-wrapper .trusted-by .inside ul .salesforce span {
        background-image: url(/images/home-s58ac0b533f.png);
        background-position: 0 -1457.5px;
        -moz-background-size: 210px auto;
        -o-background-size: 210px auto;
        -webkit-background-size: 210px auto;
        background-size: 210px auto;
        display: inline-block;
        vertical-align: middle;
        height: 38px;
        width: 54px;
        background-repeat: no-repeat; }
      #ent-banner-wrapper .trusted-by .inside ul .twitter span {
        background-image: url(/images/home-s58ac0b533f.png);
        background-position: 0 -2919px;
        -moz-background-size: 210px auto;
        -o-background-size: 210px auto;
        -webkit-background-size: 210px auto;
        background-size: 210px auto;
        display: inline-block;
        vertical-align: middle;
        height: 21px;
        width: 26px;
        background-repeat: no-repeat; }
      #ent-banner-wrapper .trusted-by .inside ul .evernote span {
        background-image: url(/images/home-s58ac0b533f.png);
        background-position: 0 -773px;
        -moz-background-size: 210px auto;
        -o-background-size: 210px auto;
        -webkit-background-size: 210px auto;
        background-size: 210px auto;
        display: inline-block;
        vertical-align: middle;
        height: 31px;
        width: 129px;
        background-repeat: no-repeat; }
      #ent-banner-wrapper .trusted-by .inside ul .adidas span {
        background-image: url(/images/home-s58ac0b533f.png);
        background-position: 0 0;
        -moz-background-size: 210px auto;
        -o-background-size: 210px auto;
        -webkit-background-size: 210px auto;
        background-size: 210px auto;
        display: inline-block;
        vertical-align: middle;
        height: 26px;
        width: 86px;
        background-repeat: no-repeat; }
      #ent-banner-wrapper .trusted-by .inside ul .huge span {
        background-image: url(/images/home-s58ac0b533f.png);
        background-position: 0 -1173px;
        -moz-background-size: 210px auto;
        -o-background-size: 210px auto;
        -webkit-background-size: 210px auto;
        background-size: 210px auto;
        display: inline-block;
        vertical-align: middle;
        height: 24px;
        width: 55px;
        background-repeat: no-repeat; }
#ent-banner-wrapper .tour-item {
  padding: 4.375em 0 5.375em 0;
  position: relative;
  min-height: 57.5em;
  overflow: hidden;
  border-bottom: 1px solid #cfd5e1; }
  #ent-banner-wrapper .tour-item .left, #ent-banner-wrapper .tour-item .right {
    position: relative;
    display: inline-block;
    width: 49%;
    margin: 0;
    padding: 0;
    vertical-align: top; }
  #ent-banner-wrapper .tour-item .left .ani-wrapper {
    margin-top: -20px; }
    #ent-banner-wrapper .tour-item .left .ani-wrapper img {
      position: absolute;
      right: 0; }
  #ent-banner-wrapper .tour-item .tour-content {
    width: 100%;
    max-width: 28.125em;
    z-index: 3;
    margin: 0 auto; }
    #ent-banner-wrapper .tour-item .tour-content h2 {
      font-size: 2.1875em;
      line-height: 48px;
      letter-spacing: normal;
      color: #333c4e;
      margin: 3.28571em 0 0.94286em 0;
      font: 300 35px/52px "Open Sans", "open-sans", sans-serif; }
    #ent-banner-wrapper .tour-item .tour-content p {
      font-size: 1em;
      line-height: 1.9em;
      color: #7e8890;
      margin: 0 0 3.125em 0; }
  #ent-banner-wrapper .tour-item .ani-wrapper img {
    display: inline-block; }

/*# sourceMappingURL=main.css.map */
